.t-title {
  font-size: 2.6rem;
  line-height: 3.8rem;
  text-transform: uppercase;
  font-weight: var(--weight-light);
  @media (min-width: 768px) {
    font-size: 4.8rem;
    line-height: 5.6rem;
  }
  @media (min-width: 1366px) {
    font-size: 5.2rem;
    line-height: 6.2rem;
  }
}

.t-body {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--color-light-blue);
  font-weight: var(--weight-light);
  @media (min-width: 768px) {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

.t-error {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #FB3E3E;
  font-weight: var(--weight-bold);
}

.t-cyan {
  color: var(--color-cyan);
}

.t-white {
  color: var(--color-white);
}

.sr-only {
  border: 0;
  width: 1px;
  padding: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
}